#navigation{
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  background: $as-grey;
  text-align: right;

  a{
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 2%;
    color: white;
    font-weight: 300;
    @include text-shadow (0, 0.05em, 0.5em, black);
    @include transition(all 0.2s);

    &:hover {
      @include text-shadow (0, 0, 0, white);
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    &.active-link{
      @include text-shadow (0, 0, 0, white);
      color: black;
    }
  }

  span{
    color: white;
  }

}